html, body {
	background: #fff;
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.8em;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 { font-family: 'Crimson Text', sans-serif;  }

.custom-button {
	background: transparent;
	border: 1px solid #e5e5e5;
	border-radius: 50px;
	color: #e5e5e5;
}

#main-menu {
	border-bottom: 1px solid #e5e5e5;
	padding-right: 1em;
	position: fixed;
	left: 0;
	top: 0;
	width: calc(100% - 1em);
	z-index: 999;
}

.uk-badge-custom {
	transform: scale(.8);
	color: #fff!important;
	background: red;
	z-index: 99;
	right: -10px;
	text-align: center;
} 

#sidebar {
	position: fixed;
	top: 15%;
	left: 0;
	width: 25%;
	padding: 3em;
	height: calc(100% - 20% - 3em);
	text-align: center;

	z-index: 9;
}

@media only screen and (min-width: 640px) {

	#container {
		width: 55%;
		margin-left: 30%;
		min-height: 100vh;
	}

	#container--content {
		margin: 5em auto;
	}


	#story {
		max-height: 100vh;
		overflow: hidden;
	}


	#chapters {
		max-height: 30vh;
		overflow: auto;
	}
	#story-people {
		height: 70vh;
		overflow: auto;
		padding-right: 2em;
	}



} 
footer {
	padding: 1em;
	margin: 1em 0;
	border-top: 1px solid #e5e5e5;
	text-align: center;
	text-transform: uppercase;
	font-size: .8em;
}

#top-search {
	margin: .5em;
}

.summary-box {
	font-size: .9em;
	line-height: 1.3em;
}

.summary-box > img {
	margin-right: 1em;
	width: 150px;
}



.label:before {
	content: "— ";
}

.label {
	font-family: 'Libre Baskerville', serif;
	display: block;
}

.summary-box h2 {
	line-height: 1.2em;
	margin: .2em 0;
}

#info {
	width: calc(100% - 150px - 2em);
}
@media only screen and (max-width: 640px) {

	.summary-box .uk-float-left, .summary-box .uk-float-right {float:none;width: 100%;}
	#info { width: 100%; margin-top: 1em;}

} 

.line {
	width: 5em;
	background: #e5e5e5;
	height: 1px;
	margin: 1em auto;
}

.info {
	display: inline-block;
	margin-right: 1em;
	text-transform: uppercase;
	font-size: .8em;
}

.summary-box h2 a {
	color: #1e1e1e;
}

.category-title span {
	display: inline-block;
	border-bottom: 1px solid #C1D1B7;
}

.separator {
	background: #e5e5e5;
	color: #fff;
}

.small-icon {
	width: 2em;
	height: 2em;
	background: #fff;
}

.author-summary > div {
	margin: 0 .5em;
}
.author-summary img {
	border-radius: 50%;
}

.author-stat {
	font-size: .6em;
}

#content-small {
	width: 40%;
	margin: 8em auto;
}

#dashboard-header, #dashboard {
	position: relative;
	min-height: 125px;
}


#dashboard-header h2 a {
	background: #ffffff;
	margin-top: -.5em;
}

#profile-menu {
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
}

#dashboard-header p {
	margin: 10px;
}

progress {
	/* Positioning */
	position: fixed;
	left: 0;
	top: 0;

	/* Dimensions */
	width: 100%;
	height: .25em;

	/* Reset the apperance */  
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	/* Get rid of the default border in Firefox/Opera. */
	border: none;

	/* For Firefox/IE10+ */
	background-color: transparent;

	/* For IE10+, color of the progress bar */
	color: #2292f2;
}

progress::-webkit-progress-bar {
	background-color: transparent;
}

.flat::-webkit-progress-value {
	background-color: #2292f2;
}

.flat::-moz-progress-bar {
	background-color: #2292f2;
}

.single::-webkit-progress-value {
	background-color: transparent;
	background-image: -webkit-linear-gradient(left, transparent, #2292f2);
}

.single::-moz-progress-bar {
	background-color: transparent;
	background-image: -moz-linear-gradient(left, transparent, #2292f2);
}

.multiple::-webkit-progress-value {
	background-image: -webkit-linear-gradient(-45deg, 
		transparent 33%, rgba(0, 0, 0, .1) 33%, 
		rgba(0,0, 0, .1) 66%, transparent 66%),
	-webkit-linear-gradient(left, green, #2292f2);
}

.multiple::-moz-progress-bar {
	background-image: -moz-linear-gradient(-45deg, 
		transparent 33%, rgba(0, 0, 0, .1) 33%, 
		rgba(0,0, 0, .1) 66%, transparent 66%),
	-moz-linear-gradient(left, green, #2292f2);
}

.progress-container {
	width: 100%;
	background-color: transparent;
	position: fixed;
	top: 0;
	left: 0;
	height: .25em;
	display: block;
}

.progress-bar {
	background-color: #2292f2;
	width: 50%;
	display: block;
	height: inherit;
}


.tinymce {
	min-height: 5em;
}

.toggle-menu {
	border-right: 1px solid #e5e5e5;
}

.ui-menu {
	z-index: 999999999;
	background: #fff;
}
.ui-menu li {
	list-style: none;
	background: #fff;
}